body{
    display: flex;
    flex-wrap:wrap;
    margin-left: 8%;
    background-image: url("MASTERS.png");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    font-size: x-large;
    
}

header h1 {
    font-family: 'Cinzel Decorative', cursive;
    color: black;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
    width: fit-content;
}
  
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4ad6749f, 0 0 25px #4ad6749f, 0 0 30px #4ad6749f, 0 0 35px #4ad6749f, 0 0 40px #4ad6749f;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 25px #8861f352, 0 0 30px #8861f352, 0 0 35px #8861f352, 0 0 40px #8861f352, 0 0 45px #8861f352, 0 0 50px #8861f352;
    }
  }


button{
    font-family:serif;
    font-size:large;
    padding: 10px;
    margin: 15px;
    background-color: green;
    border: 1px black solid;
    border-radius: 0 15px;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(4, 58, 36, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 10em;
}
button:hover {
    box-shadow: inset 0 0 20px rgba(153, 241, 222, 0.5), 0 0 20px rgba(150, 233, 226, 0.596);
    text-shadow: 1px 1px 2px #61aca2; 
}
a{
    text-decoration-line: none;
    color: black;
}

