body{
    margin: 5%;
    color: black;
    background-image: url("/MASTERS.png");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    font-size: x-large;
}
h1, h4{
    font-family: 'Cinzel Decorative', cursive;
}
div{
    background-color: rgb(236, 248, 243);
    border: 2px darkgreen solid;
    border-radius: 10px;
    padding: 2%;
    margin: 5%;
    
}