body{
    margin: 0;
    color: black;
    background-image: url("../MASTERS.png");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    font-size: x-large;
}
h1, h4{
    font-family: 'Cinzel Decorative', cursive;
}
div{
    background-color: rgb(236, 248, 243);
    border: 2px darkgreen solid;
    border-radius: 0 17px;
    padding: 2%;
    margin: 5%;
    
}
#btn{
    background-color: rgba(155, 128, 211, 0.555);
    border: none;
    text-align: center;
    padding: 2em;
}
button{
    font-family: 'Cinzel Decorative', cursive;
    font-size: large;
    padding: 12px;
    border: 1px black solid;
    border-radius: 0 8px;
    cursor: pointer;
}



 nav{
    background-color: rgba(33, 24, 65, 0.295);
    padding: 8px;        

} 

ul {
    list-style-type: none;
    width: 100%;
}
li {
    display: inline;
    padding: 1em 2em;
    margin: 0 5px;
    border: black 1px solid;
    border-radius: 0 17px;

}
a{
    text-decoration: none;
    color: black;
}


#motm,h2{
    font-family: 'Cinzel Decorative', cursive;
    font-size:xx-large;
    font-weight: bold;
    border: none;
}
#motm:hover{
    color: rgb(13, 15, 13);
    text-shadow: 2px 2px 3px lightgreen;  
}


li:not(#motm):hover{
    background: rgba(61, 59, 70, 0.342);
    color: rgb(13, 15, 13);
    text-shadow: 2px 2px 3px lightgreen;
} 

input:invalid{
    border: rgba(255, 0, 0, 0.541) 1px solid;
}
.warning{
    font-weight: lighter;
    font-family:serif ;
    font-size: medium;
}