body{
    margin: 0;
    color: black;
    background-image: url("/MASTERS.png");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    font-size: x-large;
}
h1{
    font-family: 'Cinzel Decorative', cursive;
}
div:not(#charList, #exclude, .hidden){
    background-color: rgb(236, 248, 243);
    border: 2px darkgreen solid;
    border-radius: 0 10px;
    padding: 2%;
    margin: 5%;
    text-align: center;
    width: fit-content;
    min-width: 270px;
}
#charList{
    display: flex;
    flex-wrap: wrap;

    
}
nav{
    background-color: rgba(33, 24, 65, 0.295);
    padding: 8px;        
} 

ul {
    list-style-type: none;
    width: 100%;
}
li {
    display: inline;
    padding: 1em 2em;
    margin: 0 5px;
    border: black 1px solid;
    border-radius: 0 17px;

}
a{
    text-decoration: none;
    color: black;
}


#motm,h2{
    font-family: 'Cinzel Decorative', cursive;
    font-size:xx-large;
    font-weight: bold;
    border: none;
}
#motm:hover{
    color: rgb(13, 15, 13);
    text-shadow: 2px 2px 3px lightgreen;  
}


li:not(#motm):hover{
    background: rgba(61, 59, 70, 0.342);
    color: rgb(13, 15, 13);
    text-shadow: 2px 2px 3px lightgreen;
} 
.hidden{
    position: fixed;
    height: 100vh;
    width:40vw;
    background-color: pink;
    top: 0;
    right: 0;
    font-family:'Times New Roman', Times, serif;
}

.hide{
    display: none;
}
