body{
    margin: 0;
    color: black;
    background-image: url("../MASTERS.png");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    font-size: x-large;
}
h1{
    font-family: 'Cinzel Decorative', cursive;
}
div:not(#charList, #exclude, .hidden){
    background-color: rgb(236, 248, 243);
    border: 2px darkgreen solid;
    border-radius: 0 20px;
    padding: 2%;
    margin: 5%;
    text-align: center;
    max-width: fit-content;
    min-width: 270px;
}
#charList{
    display: flex;
    flex-wrap: wrap;

    
}
nav{
    background-color: rgba(33, 24, 65, 0.295);
    padding: 8px;        
} 

ul {
    list-style-type: none;
    width: 100%;
}
li {
    display: inline;
    padding: 1em 2em;
    margin: 0 5px;
    border: black 1px solid;
    border-radius: 0 17px;

}
a{
    text-decoration: none;
    color: black;
}


#motm,h2{
    font-family: 'Cinzel Decorative', cursive;
    font-size:xx-large;
    font-weight: bold;
    border: none;
}
#motm:hover{
    color: rgb(13, 15, 13);
    text-shadow: 2px 2px 3px lightgreen;  
}


li:not(#motm):hover{
    background: rgba(98, 72, 190, 0.26);
    color: rgb(13, 15, 13);
    text-shadow: 2px 2px 3px lightgreen;
} 
.hidden{
    position: fixed;
    height: calc( 100vh - 50px );
    width:30vw;
    background-color: rgb(132, 138, 185);
    top: 0;
    right: 0;
    font-size:medium;
    overflow: scroll;
    padding: 20px;
    border: rgba(158, 245, 194, 0.356) 20px solid;
    border-right: none;
    transition: 1s;
    
}

.hide{
    right: -100%;
}
button{
    background-color: rgb(118, 119, 202);
    border: 1px rgb(42, 61, 50) solid;
    border-radius: 0 8px;
    padding: 10px;
    font-family: serif;
    font-size:medium
}
