body{
    margin: 0;
    color: black;
    background-image: url("../MASTERS.png");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    font-size: x-large;
    display: flex;
    flex-direction: column;
}
nav{
    background-color: rgba(33, 24, 65, 0.295);
    margin: 0;
    width: 100%;
    float: left;
}
ul {
    list-style-type: none;
    width: 100%;
}
li {
    display: inline;
    padding: 1em 2em;
    margin: 0 5px;
    border: black 1px solid;
    border-radius: 0 17px;

}
a{
    text-decoration: none;
    color: black;
}
li:not(#motm):hover{
    background: rgba(61, 59, 70, 0.342);
    color: rgb(13, 15, 13);
    text-shadow: 2px 2px 3px lightgreen;
}

.tool-group{
    display: flex;
    margin: 0 3em;
}
.tool{
    margin: 0 3em;
}
td#results, input{
    width: 2em;
    margin: 0.5em 2em;
}

.tool-group td{
    border:black 1px solid
}
table tr:nth-child(even){
    background-color: rgba(181, 238, 181, 0.342);
}
table tr:nth-child(odd){
    background-color: rgba(115, 84, 146, 0.425);
}
table{
    border-collapse: collapse;
}
textarea{
    background-color: rgb(253, 252, 243);
}
#motm,h2{
    font-family: 'Cinzel Decorative', cursive;
    font-size:xx-large;
    border: none;
}
#motm:hover{
    color: rgb(13, 15, 13);
    text-shadow: 2px 2px 3px lightgreen;  
}

