body{
    margin: 0;
    background-image: url("/MASTERS.png");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    display:flex;
    flex-direction: column;
}
h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size:xx-large;
    margin: 1em 3em;
}

/* DROPDOWN = WHOLE DIV
DROP = BUTTON */
menu{
    display: flex;
    flex-wrap: wrap;
}


.dropdown {
    background-color: rgba(144, 136, 160, 0.438);
    position: relative;
    display: inline-block;
    height: 12em;
    width:13em;
    margin: 4em 6em;
    border: rgba(166, 233, 192, 0.384) 2px solid;
    border-top: none;
    border-radius: 0 17px;
}


.drop{
    background-color: #674f949a;
    color: rgb(0, 0, 0);
    padding: 16px;
    width: 13em;
    font-size: 16px;
    border: none;
    border-radius: 0 17px;
    cursor: pointer;
}



.options {
    display: none;
    border-radius: 15px 0 15px ;
    position: absolute;
    width:11em;
    left: 100%;
    top: 0;
    background-color: rgba(166, 233, 192, 0.726);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 300px;
    overflow: scroll;
}
.options a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.options a:hover {background-color: #58428080;}

.dropdown:hover .options {display: block;}

.dropdown:hover .drop {background-color: #58428096;}

p.desc{
    margin: 8px;
}
p{
    margin: 1em 3em;
}

nav{
    font-size: x-large;
    background-color: rgba(33, 24, 65, 0.295);
    margin: 0;
    width: 100%;
    float: left;
}
ul {
    list-style-type: none;
    width: 100%;
}
li {
    display: inline;
    padding: 1em 2em;
    margin: 0 5px;
    border: black 1px solid;
    border-radius: 0 17px;

}
a{
    text-decoration: none;
    color: black;
}
li:not(#motm):hover{
    background: rgba(98, 72, 190, 0.26);
    color: rgb(13, 15, 13);
    text-shadow: 2px 2px 3px lightgreen;
}
#motm,h2{
    font-family: 'Cinzel Decorative', cursive;
    font-size:xx-large;
    border: none;
}
#motm:hover{
    color: rgb(13, 15, 13);
    text-shadow: 2px 2px 3px lightgreen;  
}
